.breed-list-page {
  /* height: 100vh; */
  max-height: 100%;
  /* min-height: 50rem; */
}

ul {
  /* margin-top: 3rem; */
  /* margin-bottom: 4rem; */
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5;
  -webkit-column-width: 150px;
      -moz-column-width: 150px;
          column-width: 150px;
  list-style-type: none;
}

li {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-bottom: 6px;
}

a.return-home, .return-home, .action-btn {
  background-color: #bccbde;
  color: #431c5d;
  /* padding: 8px; */
  padding: 0.5rem;
  box-shadow: 0px 10px 13px -7px #000000;
  margin: 2rem 2rem 2rem 2rem;
  bottom: 2px;
  min-width: 130px;
}