.home-page {
  max-height: 100%;
}

.home-page-links-box {
  max-height: 100rem;
  max-width: 90rem;
  margin: 3rem;
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  justify-content: space-evenly
}

.home-page-link {
  background-color: #bccbde;
  margin: 10px 5px 10px 5px;
  padding: 2rem;
  max-height: 100rem;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-page-link:after {
  padding-bottom: 100%;
}

.link-heading {
  font: calc(17px + 2vmin) bold;
}

.link-description {
  margin: 20px;
  padding: 13px 5px 5px 5px;
  border-top: 1px solid #431c5d;
  font-size: calc(5px + 2vmin);
  text-align: justify;
  line-height: 1.6rem;
}

.logo{
  box-shadow: initial;
  max-width: 20vw;
  max-height: 14vh;
  filter: invert(14%) sepia(39%) saturate(2598%) hue-rotate(252deg) brightness(96%) contrast(100%);
  margin-top: 1rem;
}

