.question {
  max-height: 400px;
}

.answers {
  display: flex;
}

.answer {
  padding: 3rem;
  border: 3px solid #431c5d;
  margin: 1rem;
}

.answerWaiting {
  background-color: purple;
}

.answerWaiting:hover {
  background-color: yellow;
}

.answerChooseCorrect,
.answerChooseCorrect:hover {
  background-color: green;
}

.answerChooseWrong,
.answerChooseWrong:hover {
  background-color: red;
}

.wrong:hover {
  background-color: red
} 
.correct:hover {
  background-color: green;
}

img {
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
.answerShowCorrect,
.answerShowCorrect:hover {
  background-color: blue;
}

.answerShowWrong,
.answerShowWrong:hover {
  background-color: gray;
}
