.answers {
  display: flex;
}

.answer {
  padding: 3rem;
  border: 3px solid #431c5d;
  margin: 1rem;
}

.answer:hover {
  background-color:rgba(255, 255, 255, 0.1);
}

.question {
  max-height: 400px;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.wrong:hover {
  background-color: red
} 
.correct:hover {
  background-color: green;
}

img {
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
