.scorebar {
  background-color: bisque;
  display: flex;
  justify-content: space-evenly
}

.scorebar p {
  display: inline-block;
  margin-left: 1rem
}

.scorebar-left {
  display: flex;
  justify-content: space-evenly
}

.scorebar-percent {
  color: green;
}