.breed-pictures-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}

.breed-picture {
  /* max-width: 600px; */
  /* max-height: 20rem; */
  max-height: 20vh;
  padding: 2rem;
  padding: 0;
  margin: 2rem;
  object-fit: fill;
}

.breed-pictures-page {
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .breed-picture {
    width: 100%;
  }
}